<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>タスク編集</title>

<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/tasks/form.css}">
</head>

<body>

<div class="container">

    <h1>タスク編集</h1>

    <form th:action="@{/tasks/update}"
          th:object="${taskForm}"
          method="post">

        <input type="hidden" th:field="*{id}">

        <!-- タイトル -->
        <div class="form-group">
            <label>タイトル</label>
            <input type="text" th:field="*{title}">

            <p class="error-msg"
               th:errors="*{title}"></p>
        </div>

        <!-- 内容 -->
        <div class="form-group">
            <label>内容</label>

            <textarea th:field="*{content}"></textarea>

            <p class="error-msg"
               th:errors="*{content}"></p>
        </div>

        <!-- 担当者 -->
        <div class="form-group">
            <label>担当者</label>

            <input type="text"
                   th:field="*{userName}">

            <p class="error-msg"
               th:errors="*{userName}"></p>
        </div>

        <!-- 開始日 -->
        <div class="form-group">
            <label>開始日</label>

            <input type="date"
                   th:field="*{startDate}">
        </div>

        <!-- 終了日 -->
        <div class="form-group">
            <label>終了日</label>

            <input type="date"
                   th:field="*{endDate}">
        </div>

        <!-- ボタン -->
        <div class="btn-group">

            <button type="submit">
                更新
            </button>

            <a th:href="@{/tasks}" class="cancel">
                ← キャンセル
            </a>

        </div>

    </form>

</div>

</body>
</html>